In [386]:
import pandas as pd
import numpy as np

In [387]:
df = pd.read_csv(r"C:/Users/Katta's/PycharmProjects/data/usecase5/train.csv")

In [388]:
df.shape

(614, 13)

In [389]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [390]:
df.isnull().sum().sum()

149

In [391]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [392]:
df['Gender']

0        Male
1        Male
2        Male
3        Male
4        Male
5        Male
6        Male
7        Male
8        Male
9        Male
10       Male
11       Male
12       Male
13       Male
14       Male
15       Male
16       Male
17     Female
18       Male
19       Male
20       Male
21       Male
22       Male
23        NaN
24       Male
25       Male
26       Male
27       Male
28       Male
29     Female
        ...
584      Male
585      Male
586      Male
587    Female
588       NaN
589      Male
590      Male
591      Male
592       NaN
593      Male
594      Male
595      Male
596      Male
597      Male
598      Male
599      Male
600    Female
601      Male
602      Male
603      Male
604    Female
605      Male
606      Male
607      Male
608      Male
609    Female
610      Male
611      Male
612      Male
613    Female
Name: Gender, Length: 614, dtype: object

In [393]:
df['Gender'].isnull()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23      True
24     False
25     False
26     False
27     False
28     False
29     False
       ...
584    False
585    False
586    False
587    False
588     True
589    False
590    False
591    False
592     True
593    False
594    False
595    False
596    False
597    False
598    False
599    False
600    False
601    False
602    False
603    False
604    False
605    False
606    False
607    False
608    False
609    False
610    False
611    False
612    False
613    False
Name: Gender, Length: 614, dtype: bool

In [394]:
# defining missing values
missing_values = ["n/a", "na", "--", "NaN"]

In [395]:
df = pd.read_csv(r"C:/Users/Katta's/PycharmProjects/data/usecase5/train.csv", na_values=missing_values)

In [396]:
df.isna().values.sum().sum()

149

In [397]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [398]:
cnt = 0 
for row in df['Gender']:
    try: 
        int(row)
        df.loc[cnt, 'Gender'] = np.nan
    except ValueError:
        pass
    cnt = cnt+1
print(cnt)

In [399]:
cnt = 0 
for row in df['Married']:
    try: 
        int(row)
        df.loc[cnt, 'Married'] = np.nan
    except ValueError:
        pass
    cnt = cnt+1
print(cnt)

614

In [400]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [401]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [402]:
#Replacing gender with male
df['Gender'].fillna('Male', inplace=True)

In [403]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [404]:
mar = 0
for row in df['Married']:
    if(row=="Yes"):
        mar = mar+1
print('Married count: ', mar)
print('Unmarried count:' , df.shape[0]-mar)
print('Replace with Yes as there were more married!')

Married count:  398
Unmarried count: 216
Replace with Yes as there were more married!

In [405]:
df['Married'].fillna('Yes', inplace=True)

In [406]:
dep_0 = 0
dep_1= 0;
dep_2 =0;
dep_3 = 0;
for row in df['Dependents']:
    try:
        row = int(row)
        if(row==0):
            dep_0 = dep_0+1
        if(row==1):
            dep_1 = dep_1+1;
        if(row==2):
            dep_2 = dep_2+1;
        if(row==3):
            dep_3 = dep_3+1;
    except :
         pass
print("Dependents -- 0 : ", dep_0)
print("Dependents -- 1 : ", dep_1)
print("Dependents -- 2 : ", dep_2)
print("Dependents -- 3 : ", dep_3)
print("Number of 3+ dependents == total rows -(null values + dep0+dep1+dep2+dep3)")
print("Null values : ", df['Dependents'].isnull().sum())
print("Dependents -- 3+ : ",(df.shape[0]-(df['Dependents'].isnull().sum()+dep_0 + dep_1 + dep_2 + dep_3)))

Dependents -- 0 :  345
Dependents -- 1 :  102
Dependents -- 2 :  101
Dependents -- 3 :  0
Number of 3+ dependents == total rows -(null values + dep0+dep1+dep2+dep3)
Null values :  15
Dependents -- 3+ :  51

In [407]:
df['Dependents'].fillna(0, inplace=True)

In [408]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [409]:
# Data Cleaning - Self Employed
self = 0
for row in df['Self_Employed']:
    if(row=="Yes"):
        self = self+1
print('Self Employed : ', self)
print(df['Self_Employed'].isnull().sum())
print('Not self employed: ', df.shape[0]- (self+df['Self_Employed'].isnull().sum()))

Self Employed :  82
32
Not self employed:  500

In [410]:
print("Fill nulls with  No as there were less self employed!")

Fill nulls with  No as there were less self employed!

In [411]:
df['Self_Employed'].fillna('No', inplace=True)

In [412]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [413]:
# Data Cleaning - Loan Amount 
df['LoanAmount'].fillna(df['LoanAmount'].median(), inplace=True)

In [414]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [415]:
df['Loan_Amount_Term'].unique()

array([360., 120., 240.,  nan, 180.,  60., 300., 480.,  36.,  84.,  12.])

In [416]:
df['Loan_Amount_Term'].dtypes

dtype('float64')

In [417]:
df['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [418]:
print("Fill nulls with 360")

Fill nulls with 360

In [419]:
df['Loan_Amount_Term'].fillna(360.0, inplace=True)

In [420]:
df['Loan_Amount_Term'].value_counts()

360.0    526
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [421]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [422]:
df['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [423]:
df['Credit_History'].fillna(1.0, inplace=True)

In [424]:
df['Credit_History'].value_counts()

1.0    525
0.0     89
Name: Credit_History, dtype: int64

In [425]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [426]:
df = df.drop('Loan_ID', axis = 1)

In [427]:
columns= df.select_dtypes(include=['object']).copy().columns
print(columns)

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [431]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df['Gender'])
df['Gender']=le.transform(df['Gender'])

le.fit(df['Married'])
df['Married']=le.transform(df['Married'])

le.fit(df['Education'])
df['Education']=le.transform(df['Education'])

le.fit(df['Self_Employed'])
df['Self_Employed']=le.transform(df['Self_Employed'])

le.fit(df['Property_Area'])
df['Property_Area']=le.transform(df['Property_Area'])

le.fit(df['Loan_Status'])
df['Loan_Status']=le.transform(df['Loan_Status'])

df['Dependents'] = le.fit_transform(df['Dependents'].astype(str))

In [432]:
df.head

In [433]:
# Dependents has 3+ -- Which is a string 
# Replace with 3+ with some int(4) or label encode that

In [434]:
# Split tarin test data
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.3, random_state=0)

In [436]:
x_train = train.drop('Loan_Status', axis=1)
y_train = train['Loan_Status']

In [438]:
x_test = test.drop('Loan_Status', axis=1)
y_test = test['Loan_Status']

In [439]:
print(x_train.columns)

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [440]:
print(x_train.shape)
print(y_train.shape)

(429, 11)
(429,)

In [441]:
print(x_test.shape)
print(y_test.shape)

(185, 11)
(185,)

In [442]:
x_train_dum = pd.get_dummies(x_train)
x_test_dum = pd.get_dummies(x_test)

In [443]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
model = BaggingClassifier(tree.DecisionTreeClassifier(random_state=1))

In [444]:
model.fit(x_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=10, n_jobs=None, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [445]:
model.score(x_test,y_test)

0.7783783783783784