In [447]:
import pandas as pd
import numpy as np

In [448]:
df = pd.read_csv(r"C:/Users/Katta's/PycharmProjects/data/usecase5/train.csv")

In [449]:
df.shape

(614, 13)

In [450]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [451]:
df.isnull().sum().sum()

149

In [452]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [453]:
df['Gender']

0        Male
1        Male
2        Male
3        Male
4        Male
5        Male
6        Male
7        Male
8        Male
9        Male
10       Male
11       Male
12       Male
13       Male
14       Male
15       Male
16       Male
17     Female
18       Male
19       Male
20       Male
21       Male
22       Male
23        NaN
24       Male
25       Male
26       Male
27       Male
28       Male
29     Female
        ...
584      Male
585      Male
586      Male
587    Female
588       NaN
589      Male
590      Male
591      Male
592       NaN
593      Male
594      Male
595      Male
596      Male
597      Male
598      Male
599      Male
600    Female
601      Male
602      Male
603      Male
604    Female
605      Male
606      Male
607      Male
608      Male
609    Female
610      Male
611      Male
612      Male
613    Female
Name: Gender, Length: 614, dtype: object

In [454]:
df['Gender'].isnull()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23      True
24     False
25     False
26     False
27     False
28     False
29     False
       ...
584    False
585    False
586    False
587    False
588     True
589    False
590    False
591    False
592     True
593    False
594    False
595    False
596    False
597    False
598    False
599    False
600    False
601    False
602    False
603    False
604    False
605    False
606    False
607    False
608    False
609    False
610    False
611    False
612    False
613    False
Name: Gender, Length: 614, dtype: bool

In [455]:
# defining missing values
missing_values = ["n/a", "na", "--", "NaN"]

In [456]:
df = pd.read_csv(r"C:/Users/Katta's/PycharmProjects/data/usecase5/train.csv", na_values=missing_values)

In [457]:
df.isna().values.sum().sum()

149

In [458]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [459]:
cnt = 0 
for row in df['Gender']:
    try: 
        int(row)
        df.loc[cnt, 'Gender'] = np.nan
    except ValueError:
        pass
    cnt = cnt+1
print(cnt)

614

In [460]:
cnt = 0 
for row in df['Married']:
    try: 
        int(row)
        df.loc[cnt, 'Married'] = np.nan
    except ValueError:
        pass
    cnt = cnt+1
print(cnt)

614

In [461]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [462]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [463]:
#Replacing gender with male
df['Gender'].fillna('Male', inplace=True)

In [464]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [465]:
mar = 0
for row in df['Married']:
    if(row=="Yes"):
        mar = mar+1
print('Married count: ', mar)
print('Unmarried count:' , df.shape[0]-mar)
print('Replace with Yes as there were more married!')

Married count:  398
Unmarried count: 216
Replace with Yes as there were more married!

In [466]:
df['Married'].fillna('Yes', inplace=True)

In [467]:
dep_0 = 0
dep_1= 0;
dep_2 =0;
dep_3 = 0;
for row in df['Dependents']:
    try:
        row = int(row)
        if(row==0):
            dep_0 = dep_0+1
        if(row==1):
            dep_1 = dep_1+1;
        if(row==2):
            dep_2 = dep_2+1;
        if(row==3):
            dep_3 = dep_3+1;
    except :
         pass
print("Dependents -- 0 : ", dep_0)
print("Dependents -- 1 : ", dep_1)
print("Dependents -- 2 : ", dep_2)
print("Dependents -- 3 : ", dep_3)
print("Number of 3+ dependents == total rows -(null values + dep0+dep1+dep2+dep3)")
print("Null values : ", df['Dependents'].isnull().sum())
print("Dependents -- 3+ : ",(df.shape[0]-(df['Dependents'].isnull().sum()+dep_0 + dep_1 + dep_2 + dep_3)))

Dependents -- 0 :  345
Dependents -- 1 :  102
Dependents -- 2 :  101
Dependents -- 3 :  0
Number of 3+ dependents == total rows -(null values + dep0+dep1+dep2+dep3)
Null values :  15
Dependents -- 3+ :  51

In [468]:
df['Dependents'].fillna(0, inplace=True)

In [469]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [470]:
# Data Cleaning - Self Employed
self = 0
for row in df['Self_Employed']:
    if(row=="Yes"):
        self = self+1
print('Self Employed : ', self)
print(df['Self_Employed'].isnull().sum())
print('Not self employed: ', df.shape[0]- (self+df['Self_Employed'].isnull().sum()))

Self Employed :  82
32
Not self employed:  500

In [471]:
print("Fill nulls with  No as there were less self employed!")

Fill nulls with  No as there were less self employed!

In [472]:
df['Self_Employed'].fillna('No', inplace=True)

In [473]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [474]:
# Data Cleaning - Loan Amount 
df['LoanAmount'].fillna(df['LoanAmount'].median(), inplace=True)

In [475]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [476]:
df['Loan_Amount_Term'].unique()

array([360., 120., 240.,  nan, 180.,  60., 300., 480.,  36.,  84.,  12.])

In [477]:
df['Loan_Amount_Term'].dtypes

dtype('float64')

In [478]:
df['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [479]:
print("Fill nulls with 360")

Fill nulls with 360

In [480]:
df['Loan_Amount_Term'].fillna(360.0, inplace=True)

In [481]:
df['Loan_Amount_Term'].value_counts()

360.0    526
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [482]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [483]:
df['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [484]:
df['Credit_History'].fillna(1.0, inplace=True)

In [485]:
df['Credit_History'].value_counts()

1.0    525
0.0     89
Name: Credit_History, dtype: int64

In [486]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [487]:
df = df.drop('Loan_ID', axis = 1)

In [488]:
columns= df.select_dtypes(include=['object']).copy().columns
print(columns)

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [489]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df['Gender'])
df['Gender']=le.transform(df['Gender'])

le.fit(df['Married'])
df['Married']=le.transform(df['Married'])

le.fit(df['Education'])
df['Education']=le.transform(df['Education'])

le.fit(df['Self_Employed'])
df['Self_Employed']=le.transform(df['Self_Employed'])

le.fit(df['Property_Area'])
df['Property_Area']=le.transform(df['Property_Area'])

le.fit(df['Loan_Status'])
df['Loan_Status']=le.transform(df['Loan_Status'])

df['Dependents'] = le.fit_transform(df['Dependents'].astype(str))

In [490]:
df.head

<bound method NDFrame.head of      Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
0         1        0           0          0              0             5849
1         1        1           1          0              0             4583
2         1        1           0          0              1             3000
3         1        1           0          1              0             2583
4         1        0           0          0              0             6000
5         1        1           2          0              1             5417
6         1        1           0          1              0             2333
7         1        1           3          0              0             3036
8         1        1           2          0              0             4006
9         1        1           1          0              0            12841
10        1        1           2          0              0             3200
11        1        1           2          0              0             2500
12        1        1           2          0              0             3073
13        1        0           0          0              0             1853
14        1        1           2          0              0             1299
15        1        0           0          0              0             4950
16        1        0           1          1              0             3596
17        0        0           0          0              0             3510
18        1        1           0          1              0             4887
19        1        1           0          0              0             2600
20        1        1           0          1              0             7660
21        1        1           1          0              0             5955
22        1        1           0          1              0             2600
23        1        1           2          1              0             3365
24        1        1           1          0              0             3717
25        1        1           0          0              1             9560
26        1        1           0          0              0             2799
27        1        1           2          1              0             4226
28        1        0           0          1              0             1442
29        0        0           2          0              0             3750
..      ...      ...         ...        ...            ...              ...
584       1        1           1          0              0             2787
585       1        1           1          0              0             4283
586       1        1           0          0              0             2297
587       0        0           0          1              0             2165
588       1        0           0          0              0             4750
589       1        1           2          0              1             2726
590       1        1           0          0              0             3000
591       1        1           2          0              1             6000
592       1        0           3          0              1             9357
593       1        1           0          0              0             3859
594       1        1           0          0              1            16120
595       1        0           0          1              0             3833
596       1        1           2          1              1             6383
597       1        0           0          0              0             2987
598       1        1           0          0              1             9963
599       1        1           2          0              0             5780
600       0        0           3          0              0              416
601       1        1           0          1              0             2894
602       1        1           3          0              0             5703
603       1        0           0          0              0             3676
604       0        1           1          0              0            12000
605       1        1           0          1              0             2400
606       1        1           1          0              0             3400
607       1        1           2          1              0             3987
608       1        1           0          0              0             3232
609       0        0           0          0              0             2900
610       1        1           3          0              0             4106
611       1        1           1          0              0             8072
612       1        1           2          0              0             7583
613       0        0           0          0              1             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                  0.0       128.0             360.0             1.0
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
5               4196.0       267.0             360.0             1.0
6               1516.0        95.0             360.0             1.0
7               2504.0       158.0             360.0             0.0
8               1526.0       168.0             360.0             1.0
9              10968.0       349.0             360.0             1.0
10               700.0        70.0             360.0             1.0
11              1840.0       109.0             360.0             1.0
12              8106.0       200.0             360.0             1.0
13              2840.0       114.0             360.0             1.0
14              1086.0        17.0             120.0             1.0
15                 0.0       125.0             360.0             1.0
16                 0.0       100.0             240.0             1.0
17                 0.0        76.0             360.0             0.0
18                 0.0       133.0             360.0             1.0
19              3500.0       115.0             360.0             1.0
20                 0.0       104.0             360.0             0.0
21              5625.0       315.0             360.0             1.0
22              1911.0       116.0             360.0             0.0
23              1917.0       112.0             360.0             0.0
24              2925.0       151.0             360.0             1.0
25                 0.0       191.0             360.0             1.0
26              2253.0       122.0             360.0             1.0
27              1040.0       110.0             360.0             1.0
28                 0.0        35.0             360.0             1.0
29              2083.0       120.0             360.0             1.0
..                 ...         ...               ...             ...
584             1917.0       146.0             360.0             0.0
585             3000.0       172.0              84.0             1.0
586             1522.0       104.0             360.0             1.0
587                0.0        70.0             360.0             1.0
588                0.0        94.0             360.0             1.0
589                0.0       106.0             360.0             0.0
590             3416.0        56.0             180.0             1.0
591                0.0       205.0             240.0             1.0
592                0.0       292.0             360.0             1.0
593             3300.0       142.0             180.0             1.0
594                0.0       260.0             360.0             1.0
595                0.0       110.0             360.0             1.0
596             1000.0       187.0             360.0             1.0
597                0.0        88.0             360.0             0.0
598                0.0       180.0             360.0             1.0
599                0.0       192.0             360.0             1.0
600            41667.0       350.0             180.0             1.0
601             2792.0       155.0             360.0             1.0
602                0.0       128.0             360.0             1.0
603             4301.0       172.0             360.0             1.0
604                0.0       496.0             360.0             1.0
605             3800.0       128.0             180.0             1.0
606             2500.0       173.0             360.0             1.0
607             1411.0       157.0             360.0             1.0
608             1950.0       108.0             360.0             1.0
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

     Property_Area  Loan_Status
0                2            1
1                0            0
2                2            1
3                2            1
4                2            1
5                2            1
6                2            1
7                1            0
8                2            1
9                1            0
10               2            1
11               2            1
12               2            1
13               0            0
14               2            1
15               2            1
16               2            1
17               2            0
18               0            0
19               2            1
20               2            0
21               2            1
22               1            0
23               0            0
24               1            0
25               1            1
26               1            1
27               2            1
28               2            0
29               1            1
..             ...          ...
584              0            0
585              0            0
586              2            1
587              1            1
588              1            1
589              1            0
590              1            1
591              1            0
592              1            1
593              0            1
594              2            1
595              0            1
596              0            0
597              1            0
598              0            1
599              2            1
600              2            0
601              0            1
602              2            1
603              0            1
604              1            1
605              2            0
606              1            1
607              0            1
608              0            1
609              0            1
610              0            1
611              2            1
612              2            1
613              1            0

[614 rows x 12 columns]>

In [491]:
# Dependents has 3+ -- Which is a string 
# Replace with 3+ with some int(4) or label encode that

In [492]:
# Split tarin test data
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.3, random_state=0)

In [493]:
x_train = train.drop('Loan_Status', axis=1)
y_train = train['Loan_Status']

In [494]:
x_test = test.drop('Loan_Status', axis=1)
y_test = test['Loan_Status']

In [495]:
print(x_train.columns)

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [496]:
print(x_train.shape)
print(y_train.shape)

(429, 11)
(429,)

In [497]:
print(x_test.shape)
print(y_test.shape)

(185, 11)
(185,)

In [498]:
x_train_dum = pd.get_dummies(x_train)
x_test_dum = pd.get_dummies(x_test)

In [499]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
model = BaggingClassifier(tree.DecisionTreeClassifier(random_state=1))

In [500]:
model.fit(x_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=10, n_jobs=None, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [504]:
model.score(x_test,y_test)

0.7351351351351352

In [514]:
# Random forest - Bagging
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(random_state=1)
model.fit(x_train, y_train)
model.score(x_test,y_test)

c:\users\katta's\venv\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.7675675675675676

In [515]:
for i, j in sorted(zip(x_train.columns, model.feature_importances_)):
    print(i, j)

ApplicantIncome 0.24218610392216436
CoapplicantIncome 0.10370128726439376
Credit_History 0.2302956914989148
Dependents 0.03673751897489143
Education 0.022025573315943042
Gender 0.018625015742440854
LoanAmount 0.21341219326019706
Loan_Amount_Term 0.03301178904060203
Married 0.024294972404535965
Property_Area 0.051319901419401626
Self_Employed 0.024389953156514984

In [516]:
#Ada boost - Boosting
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier(random_state=1)
model.fit(x_train, y_train)
score_ada= model.score(x_test,y_test)
print(score_ada)

0.8162162162162162

In [517]:
# GradientBoosting - Boosting
from sklearn.ensemble import GradientBoostingClassifier
model= GradientBoostingClassifier(learning_rate=0.01,random_state=1)
model.fit(x_train, y_train)
score_GBM = model.score(x_test,y_test)
print(score_GBM)

0.8162162162162162

In [518]:
#xgboost-- Boosting
import xgboost as xgb
model=xgb.XGBClassifier(random_state=1,learning_rate=0.01)
model.fit(x_train, y_train)
model.score(x_test,y_test)

0.8216216216216217